@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Montserrat Variable", sans-serif;
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
  }

  h2 {
    font-size: clamp(1.375rem, 4.5vw, 2.25rem);
  }

  h3 {
    font-size: clamp(1.25rem, 4vw, 2rem);
  }

  h4 {
    font-size: clamp(1.125rem, 3.5vw, 1.75rem);
  }

  h5 {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }

  h6 {
    font-size: clamp(0.875rem, 2.5vw, 1.25rem);
  }
  p,
  li,
  a,
  input::placeholder {
    font-size: clamp(1rem, 2vw, 1.125rem);
  }

  body {
    --sb-track-color: #99e7fe;
    --sb-thumb-color: #0174cf;
    --sb-size: 14px;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 9px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
}

/* --------------------------------------------------------- */
/* -------------------------HEADER-------------------------- */
/* --------------------------------------------------------- */
.logo-header {
  @apply flex flex-col items-center justify-center relative sm:w-[130px]  w-auto sm:h-full h-[130px]  transition-all;
  > a > img {
    @apply transition-all;
  }
}

.logo-scrolled {
  @apply flex flex-col items-center justify-center relative sm:w-[120px] w-auto sm:h-full h-[120px] transition-all;
  > a > img {
    @apply w-[50px] transition-all;
  }
}

/* --------------------------------------------------------- */
/* -------------------------CONTACT-------------------------- */
/* --------------------------------------------------------- */

.wpcf7 {
  @apply flex justify-center bg-starlight shadow-lg p-5 rounded-xl sm:w-3/4 mx-auto;
}

.wpcf7-form {
  @apply max-w-sm sm:w-10/12 grid gap-5;

  p,
  h3 {
    @apply text-blue-sky text-center;
  }
}

input[type="checkbox"] {
  @apply mr-5;
}
input[name="quiz-672"] {
  @apply mt-2 text-center;
}

.wpcf7-form-control:not(.wpcf7-acceptance) {
  @apply p-2 w-full resize-none rounded-md text-blue-sky bg-grey-light;
}

input[name="your-file"] {
  @apply bg-starlight;
}

.wpcf7-quiz {
  @apply max-w-12 block mx-auto;
}

.form-error {
  @apply text-red-600;
}

.wpcf7-submit {
  @apply w-full text-white inline-block uppercase font-bold tracking-[1.3px] bg-blue-sky rounded-full py-3 px-6 cursor-pointer;
}

/* --------------------------------------------------------- */
/* -------------------------FOOTER-------------------------- */
/* --------------------------------------------------------- */
.footer-logo {
  @apply md:!w-52 md:mt-24 md:min-w-16 !w-32 mt-12;
}

/* Cible la première div à l'intérieur de footer */
footer div:nth-of-type(1) {
  @apply flex-col items-center;
  > div:nth-of-type(1) {
    @apply flex sm:flex-wrap md:items-stretch sm:flex-row justify-center;
  }
}
/* Cible tous les enfants div direct de la première div dans footer */
footer div:nth-of-type(1) > div:nth-of-type(1) > .column {
  @apply flex-grow flex-shrink-0 sm:basis-[300px] !py-2 sm:!py-5 flex justify-center;
  .group {
    @apply !px-0 flex sm:inline;
    ul > li {
      @apply !py-1 sm:py-2 sm:text-left text-center;
    }
  }
}
