---
import CommonHead from "../components/CommonHead.astro";
---

<html lang="fr">
  <CommonHead title="Non trouvé !" description="" />
  <body class="bg-blue-sky text-white">
    <div
      class="text-center flex flex-col justify-center min-h-screen w-8/12 mx-auto"
    >
      <h1>Oops !</h1>
      <h2>Page non trouvée !</h2>
      <a
        href="/"
        class="text-blue-light block py-3 hover:text-blue-400 transition-all text-nowrap max-w-min mx-auto"
        >Retour à la page d'accueil</a
      >
    </div>
  </body>
</html>
