---
import { joinClasses } from "../utils/joinClasses";
import { replaceUrls } from "../utils/replaceUrls";
type Props = {
  styles: string;
  classes: string;
  label: string;
  url: string;
};
const { styles, classes, label, url } = Astro.props;
const href = replaceUrls(url, Astro.url.host);
const allClasses = joinClasses(
  classes,
  "py-2 px-4 hover:bg-blue-sky hover:text-starlight",
);
---

<li class={allClasses} style={styles}>
  <a href={href} class="block">
    {label}
  </a>
</li>
