---
import { joinClasses } from "../utils/joinClasses";
import { MobileMenu } from "./MobileMenu.tsx";

type Props = {
  styles: string;
  classes: string;
};
const { styles, classes } = Astro.props;
// const allClasses = joinClasses(classes, "w-full flex-between max-sm:flex-col");
---

<nav class="hidden w-10/12 sm:block">
  <ul class={classes} style={styles}>
    <slot />
  </ul>
</nav>

<!-- ---------------MOBILE SCREEN--------------- -->
<nav class="block sm:hidden">
  <MobileMenu client:only="react">
    <ul class="flex flex-col justify-center text-center">
      <slot />
    </ul>
  </MobileMenu>
</nav>
