---
import { joinClasses } from "../utils/joinClasses";

type Props = {
  styles: string;
  classes: string;
};
const { styles, classes } = Astro.props;
const allClasses = joinClasses(classes, "w-full flex-between max-sm:flex-col");
---

<nav class="w-10/12">
  <ul class={allClasses} style={styles}>
    <slot />
  </ul>
</nav>
